<h1>Contestants</h1>
<% @contestants.each do |contestant|%>
  <div id="contestant-<%= contestant.id %>">
    <%= contestant.name %><br>
    Projects:
    <%= contestant.return_projects %>
  </div>
<% end %>