<h1> All Contestants </h1>
<% @contestants.each do |contestant| %>
  <section id=<%= "contestant-#{contestant.id}" %>>
    <p><%= contestant.name %></p>
    <p><%= contestant.project_list %></p>
  </section>
<% end %>