<h1>Contestants</h1>
<% @contestants.each do |contestant|%>
    <div id="contestant-<%= contestant.id %>">
        <%= contestant.name %>
        <% contestant.projects.each do |project| %>
            <p>Projects: <%= project.name %></p>
        <% end%>
    </div>
<% end%>