<h1>Contestants</h1>
<% @contestants.each do |contestant| %>
    <p><b><%=contestant.name%></b></p>
    <p>Projects:  </p>
    <div id="contestant_projects-<%=contestant.id%>">
      <% contestant.projects.each do |project|%>
        <ul>
          <li><%= project.name %></li>
        </ul>
     <% end %>
     </div>
<% end %>