<h1><%= @project.name %></h1>

<p><b>Material: </b><%= @project.material %></p>
<p><b>Challenge Theme: </b><%= @project.challenge_theme %></p>
<p><b>Number of Contestants: </b><%= @project.contestant_count %></p>
