<h1>Project Name: <%= @project.name %></h1>
<h3>Material: <%= @project.material %></h3>
<h3>Challenge Theme: <%= @project.challenge.theme %></h3>
<h3>Number of Contestants: <%= @project.number_of_contestants %></h3>
