<h2><%= @project.name %></h2>
<h4>Material: <%= @project.material %></h4>
<h4>Challenge Theme: <%= @project.project_challenge_theme %></h4>
<h5>Number of Contestants: <%= @project.contestant_count %></h5>