<h3><u>Make it Work! - Project Show Page:</u></h3>

<p><b>Project Name: </b><%= @project.name %></p>
<p><b>Material: </b><%= @project.material %></p>
<p><b>Challenge Theme: </b><%= @project.challenge.theme %></p>
<p><b>Number of Contestants: </b><%= @project.project_contestant_count %></p>